.favourites {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.favourites__title {
    font-size: larger;
    font-weight: bolder;
}

.favourites__cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    filter: drop-shadow(0 2px 2px black);
}
.favourites__cards-container--empty {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    filter: drop-shadow(0 2px 2px black);
}
