.featured {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.featured__title {
    font-size: larger;
    font-weight: bolder;
}

.featured__cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    filter: drop-shadow(0 2px 2px black);
}

.cards-container__button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
