.game {
    height: 100%;
    width: 100%;
    background-color: var(--cultured);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__team-select {
    height: 60%;
    width: 60%;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    filter: drop-shadow(0 2px 2px black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-select__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.game__tiles {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.tile__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
