.card {
    filter: drop-shadow(0 2px 2px black);
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
}

.card__container {
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card__cover-image {
    height: 50%;
}

.card__title {
    text-align: center;
    font-weight: bolder;
}

.card__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
