.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cultured);
}

.login__login-form {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.login-form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--cultured);
}
label {
    font-family: "Source Code Pro", monospace;
}

.login-form__submit {
    background-color: var(--imperial-red);
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid var(--imperial-red);
    color: var(--cultured);
}

.login-form__submit:hover,
.login-form__submit:focus {
    background-color: var(--cultured);
    color: black;
}

.login-form__title {
    font-size: 1.3rem;
    font-weight: bolder;
}

.login-form__signup-link {
    color: var(--imperial-red);
    cursor: pointer;
}

.login-form__signup-link:active {
    color: var(--up-maroon);
}

.login-form__error-container {
    background-color: rgba(255, 0, 0, 0.274);
    border: 1px solid var(--up-maroon);
    border-radius: 0.5rem;
    padding: 1rem;
}
