@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap");

* {
    font-family: "Source Code Pro", monospace;
}

:root {
    --space-cadet: #2b2d42ff;
    --manatee: #8d99aeff;
    --cultured: #edf2f4ff;
    --imperial-red: #ef233cff;
    --up-maroon: #800e13ff;
    font-family: "Source Code Pro", monospace;
}
