.game-score-board {
    width: 100%;
    display: flex;
    background-color: white;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    border-radius: 1rem;
    border: 1px solid black;
    filter: drop-shadow(0 2px 2px black);
}
